
@{
    ViewBag.Title = "Index";
}

<h2>Lista de graficos </h2>

<p>Separei os graficos para que o codigo fique mais facil de entender </p>

<li>@Html.ActionLink("Pizza", "Pizza", "Graficos")</li>
<li>@Html.ActionLink("Line", "LineChart", "Graficos")</li>
<li>@Html.ActionLink("Coluna", "ColunaChart", "Graficos")</li>
<li>@Html.ActionLink("Coluna Clicavel", "ColunaClicavel", "Graficos")</li>

<li>@Html.ActionLink("Coluna Comparativa", "ColunaComparativa", "Graficos")</li>
<li>@Html.ActionLink("Bar", "BarChart", "Graficos")</li>
<li>@Html.ActionLink("Bar com json", "BarJsonChart", "Graficos")</li>

<li>@Html.ActionLink("Todos", "GraficosGeneralizado", "Graficos")</li>

